
*{
    box-sizing: border-box;
}

body 
{

    font-family: Arial;
    padding: 10px;
    background-color: whitesmoke,

}

      nav{

        background-color: rgb(61, 61, 61);
        margin-bottom: 20px;

      }
    nav ul{
        position:relative;
    }
  nav ul li {
      display: inline-block;
      padding: 20px;      
  }
  nav ul li a
  {
      text-decoration: none;
      font-weight:bolder;
      color:white;
      position: relative;
      bottom: 25px;
  }

.hero_image
{
    text-align: center;
}
.sub-banner
{
    text-align: center;
    padding-top: 25px;
}
.features
{
    text-align: center;
    padding-top: 25px;
    position: relative;
    right: 16%;
}

.feature_section
{
    text-align: center;
    position: relative;
    left: 220px;
    bottom: 420px;
}
.feature_section h2
{
    position: relative;
    right:3%;
}
button
{
    float: right;
    padding: 25px;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius:22px;
    position: relative;
    right: 450px;
    bottom: 400px;
}
button:hover
{
    background-color: yellow;
    color: black;
}
button:active
{
    background-color: royalblue;
    color: yellow;
}

footer {
    clear: both;
    padding: 45px;
    text-align: center;
    background-color: #ddd;
    margin-top: 30px;
}